body {
    padding: 200px;
    font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('../images/jlk-1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 80px;
}

a{
    color: white;
}

.content{
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-top: 40px;
}


.ONU{
    color: #f26b27;
    font-weight: bold;
}

.icon{
    width: 50px;
    height: 50px;
}

.css{
    width:45px;
    height:50px;
}

.pug{
    width:70px;
    height:50px;
}