body {
    padding: 200px;
    font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('../images/jlk-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.content{
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-top: 40px;
}

.sec

h1 {
    font-size: 90px;
}
h2 {
    background-color: #f26b27;
    color: #333132;
    font-size: 70px;
}

.center-text{
    text-align: center;
}

td:first-child{
    padding-right: 30px;
}