extends menu 

block stylesheet 
    link(rel="stylesheet", href="/stylesheets/style.css")

block content
  .schedule.content
    h1 Weekly #{title}
    table
      thead
        tr
          th Week
          th Day of the Week
          th Topic
      tbody
        each item in schedule
          tr
            td= item.week
            td(class='day')= item.dow
            td(class=item.topic.toLowerCase().startsWith('midterm') ? 'midterm' : '')= item.topic 