extends menu 

block stylesheet 
    link(rel="stylesheet", href="/stylesheets/study.css")

block content

    h1 Study Guide for Midterm 3
    
    - var N = 10; // replace with your actual N

    - for (var i = 1; i <= N; i++)
        p 
            img(src="/images/img" + i + ".png", alt="Description of Image" + i, class="image")
    