html * {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #333132;
  color: white;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  background-color: #f26b27;
  color: #333132;
  font-size: 35px;
}
tr, li, p{
  font-size: 20px;
}